@import "../../../../assets/styles/_var";

// .mobile-menu {
//     display: flex;
//     align-content: center;
//     // position: absolute;
//     position: sticky;
//     // top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background-color: white;
//     // width: 100%;

//     .mobile-menu__item {
//         text-decoration: none;
//         display: block;
//         margin: auto;

//         // background-color: white;
//         font-size: 2em;
//     }

//     // margin: 1rem;
// }
.mobile-menu {
    display: flex;
    align-content: center;
    // position: absolute;
    position: sticky;
    // top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    // width: 100%;

    .mobile-menu__item {
        text-decoration: none;
        display: block;
        margin: auto;

        // background-color: white;
        font-size: 2em;
    }

}

/* -------------------------------- Mobile S -------------------------------- */
@media only screen and (min-width: 0px) and (max-width: 425px) {
    .mobile-menu {
        display: flex;
        align-content: center;
        // position: absolute;
        position: sticky;
        // top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        // width: 100%;

        .mobile-menu__item {
            text-decoration: none;
            display: block;
            margin: auto;

            // background-color: white;
            font-size: 2em;
        }

        padding: 0;
    }
}

/* -------------------------------- Mobile L -------------------------------- */
@media only screen and (min-width: 425px) and (max-width: 768px) {
    .mobile-menu {

        display: flex;
        align-content: center;
        // position: absolute;
        position: sticky;
        // top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        // width: 100%;

        .mobile-menu__item {
            text-decoration: none;
            display: block;
            margin: auto;

            // background-color: white;
            font-size: 2em;
        }

        padding: 0 3rem;
    }
}

/* ---------------------------------- Tablet ---------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mobile-menu {

        display: flex;
        align-content: center;
        // position: absolute;
        position: sticky;
        // top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        // width: 100%;

        .mobile-menu__item {
            text-decoration: none;
            display: block;
            margin: auto;

            // background-color: white;
            font-size: 2em;
        }

        padding: 0 5rem;
    }
}

/* ---------------------------------- Laptop ---------------------------------- */
@media only screen and (min-width: 1024px) {
    .mobile-menu {
        display: flex;
        align-content: center;
        // position: absolute;
        position: sticky;
        // top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        // width: 100%;

        .mobile-menu__item {
            text-decoration: none;
            display: block;
            margin: auto;

            // background-color: white;
            font-size: 2em;
        }

        // position: relative;
        padding: 0 8rem;
    }
}