@import "../../../../assets/styles/_var.scss";

.link {
    color: $color-success;

    &.dark {
        color: $color-dark;
    }

    &.fail {
        color: $color-fail;
    }

    &.light {
        color: $color-light;
    }
}